
ul {
	margin: 0;
	padding: 0;
	padding-top: 15px;
}

li.item {
	list-style: none;
	padding: 12px 0;
	border-bottom: 1px solid #ddd;
}

li.item a {
	color: #222;
}

li input {
	float: right;
	display: inline;
}

/* --- iOS --- */

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 667px) {
	#wrapper {
		width: 90%;
		max-width: 1175px;
	}

	input {
		font-size: 0.55em;
	}
}