
{% extends "base.html" %}

{% block stylesheet %}
	<link rel="stylesheet" type="text/css" href="/static/stylesheets/post_list.css">
{% endblock%}

{% block content %}
	<article>
		<p><span>whoami</span> My name is Ryan Ackermann. I'm a Jesus follower. I'm a married to my best friend. We have a dog, horse and a cat. My hobbies mostly stem from technology and the outdoors.</p>
		
		<p><span>ios</span></p>

		<p><span>pnw</span> hiking, traveling, and camping</p>
		
		<p><span>security</span>I have recently begun my journey into ethical hacking. I’ve always been interested in security best practices and how things work under the hood. The darknet diaries episode about dawgyg sparked my interest in bug bounties.</p>
		
		<p><span>design</span></p>
		
		<p><span>games</span></p>
		
		<p><span>writing</span></p>
		
		<p><span>speaking</span></p>
		
		<p><span>contact</span></p>
	</article>
	<!-- <article>
		{% if posts|length == 0 %}
			<h3>No recent posts.</h3>
		{% else %}
			<h1>Recent posts</h1>
			{% for post in posts %}
				<a href="/posts/{{ post.slug }}">
					<div class="post">
						<div id="titledate">
							<h2 id="title">{{ post.title }}</h2>
							<div id="date">{{ post.timestamp|prettytime }}</div>
						</div>
						<div id="preview">
							{{ post.description }}
						</div>
					</div>
				</a>
			{% endfor %}
		{% endif %}
	</article>
	<footer>
		{% if shape_num %}
			<img id="shape" src="/static/shapes/{{ shape_num }}-geo-shape.svg">
		{% endif %}
	</footer> -->
{% endblock %}
