
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

li.items {
	padding: 4px 0;
}

body article {
	margin-bottom: 25px;
}

input#search {
	margin: 24px 0;
}

li h3 {
	color: white;
	padding: 8px;
	font-size: 1em;
	display: inline-block;
	background-color: var(--better-black);
	border-radius: 4px;
}

input#search {
  margin-top: 32px;
  padding: 5px;
  margin-left: auto;
  color: #333;
  border: 2px solid var(--border-color);
  border-radius: 9px;
  font-size: 15px;
  border-radius: 3px;
  -moz-appearance: none;
  -webkit-appearance: none;
  font-family: inherit;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#date {
	color: #aaa;
	font-weight: bold;
}

@media (max-width: 750px) and (min-width: 320px) {
  body article {
    width: 80%;
  }

	input#search {
		width: 100%;
		padding: 8px;
		margin-left: 0;
		text-align: center;
	}
}
