
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

li.items {
	padding: 4px 0;
}

body article {
	margin-bottom: 25px;
}

li h3 {
	color: white;
	padding: 8px;
	font-size: 1em;
	display: inline-block;
	background-color: var(--main-color);
	border-radius: 4px;
}

#date {
	color: #aaa;
	font-weight: bold;
}

@media (max-width: 750px) and (min-width: 320px) {
  body article {
    width: 80%;
  }
}
