
.content-item {
	min-height: 100px;
	margin: 40px 0;
}
.content-item h2 {
	margin-bottom: 2px;
	padding-bottom: 2px;
}
.content-item p {
	margin-top: 2px;
	padding-top: 2px;
}
.content-item img {
	width: 100px;
	height: auto;
	display: inline-block;
	float: left;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.3), inset 0 0 2px rgba(0, 0, 0, 0.5), inset 0 1px 0 rgba(255, 255, 255, 0.25);
	margin-right: 20px;
	box-sizing: border-box;
	border-radius: 24px;
}

/* --- iOS --- */

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 667px) {
	.content-item img {
		width: 80px;
		border-radius: 18px;
	}	
}