
.post {
	padding-top: 12px;
	padding-bottom: 8px;
	/*margin-bottom: 20px;*/
	border-bottom: 1px solid #ddd;
}
.post:hover {
	background-color: #F5F5F5;
	/*text-decoration: underline;*/
}
.post #titledate {
	padding: .5em 0;
}
.post #titledate #title {
	display: inline;
	color: var(--main-color);
}
.post #titledate #date {
	float: right;
	display: inline;
	color: #aaa;
}
.post #preview {
	color: black;
	padding-bottom: 12px;
}
a {
	color: black;
	text-decoration: none;
}

#headline {
	margin-bottom: 0.5em;
}
#date {
	color: #aaa;
}
img#shape {
	margin: auto;
	padding: 20px 0;
	display: block;
	width: 100%;
	height: 42px;
}

ul#img-container {
	padding: 0;
	margin: 0 50px;
	line-height: 0;
	list-style: none;
}
ul#img-container li {
	width: 25%;
	display: inline-block;
}
img.recent-photo {
	width: 100%;
	height: auto;
}

@media only screen and (max-width : 480px) {
   /* Smartphone view: 1 tile */
	 ul#img-container li {
	 	width: 100%;
	 }
 }
@media only screen and (max-width : 650px) and (min-width : 481px) {
   /* Tablet view: 2 tiles */
	 ul#img-container li {
		width: 50%;
	 }
}
@media only screen and (max-width : 1050px) and (min-width : 651px) {
   /* Small desktop / ipad view: 3 tiles */
	 ul#img-container li {
	 	width: 25%;
	 }
}
