
/* Imports */ 
@import url(https://fonts.googleapis.com/css?family=PT+Mono);

/* Variables */
:root {
  --main-color: #ff5754;
  --main-hover-color: #B45769;
  --main-background: linear-gradient(45deg, #ff5754 0%,#b45769 100%);
}

/* Generic */
::-webkit-resizer {
  display: none;
  cursor: pointer;
}
::-webkit-selection {
  text-shadow: none;
  text-decoration: none;
  background: rgba(231, 231, 0, 0.45);
}
::-moz-selection {
  text-shadow: none;
  text-decoration: none;
  background: rgba(231, 231, 0, 0.45);
}
::selection {
  text-shadow: none;
  text-decoration: none;
  background: rgba(231, 231, 0, 0.45);
}

/* Body */
body {
  font-family: 'PT Mono', monospace, serif;
  background: #FFF;
  text-align: left;
  margin: 0;
}
body h1 {
  font-size: 1.6em;
}
body h2 {
  font-size: 1.4em;
}
body h3 {
  font-size: 1.225em;
}
body article {
  width: 85%;
  margin: 0 auto;
  max-width: 750px;
}
body article a {
  color: var(--main-color);
}

/* Navigation */
header {
  margin: 0;
  padding: 0 20px;
  height: 85px;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  background-color: var(--main-color);
  background-image: var(--main-background);
}
header a {
  text-decoration: none;
}
header a h1 {
  margin: 0;
  -webkit-align-self: flex-start;
  align-self: flex-start;
  color: white;
}

input#search {
  margin: 0;
  padding: 5px;
  margin-left: auto;
  color: #333;
  border: none;
  font-size: 15px;
  border-radius: 3px;
  -moz-appearance: none;
  -webkit-appearance: none;
  font-family: 'PT Mono', monospace, serif;
}

.navigation {
  margin: 0;
  padding: 10px;
  padding-bottom: 0;
}
.navigation ul {
  margin: 0;
  padding: 30px 0;
  text-align: left;
}
.navigation li {
  display: inline-block;
  list-style: none;
  padding: 8px 15px;
}
.navigation li a {
  text-decoration: none;
  color: var(--main-color);
}

input:focus, select:focus, textarea:focus, button:focus {
  outline: none;
}

/* Extras */
.topstrip {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 4px;
  width: 100%;
  background-color: var(--main-color);
  background-image: var(--main-background);
}

/* --- iOS --- */

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 667px) {
  input[type="text"],
  input[type="button"],
  input[type="submit"] {
    -webkit-appearance: none;
    border-radius: 7px;
  }

  body article {
    width: 90%;
  }

  .navigation ul {
    padding: 20px 0;
    text-align: center;
  }

  .navigation li {
    padding: 8px;
  }
}
