
{% extends "base.html" %}

{% block stylesheet %}
	<link rel="stylesheet" type="text/css" href="/static/stylesheets/404.css">
{% endblock %}

{% block content %}
	<article>
		<h2>Nothing Found</h2>
		<p>Send me a picture of how this makes you feel?</p>
		<div id="buttonContainer">
			<input id="clear" type="submit" value="Clear">
			<input id="save" type="submit" value="Save">
			<input id="send" type="submit" value="Send">
		</div>
	</article>
{% endblock %}

{% block scripts %}
	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="/static/scripts/draw.js"></script>
{% endblock %}