<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		{% block stylesheet %}{% endblock %}
		<link rel="stylesheet" type="text/css" href="/static/stylesheets/primary.css">

	    {% if title %}
    		<title>{{ title }}</title>
    	{% else %}
    		<title>ackermann.io</title>
    	{% endif %}
	</head>
	<body>
		<div class="topstrip"></div>
		{% block menu %}
			<div class="navigation">
				<ul>
					<li><a href="{{ url_for('index') }}">blog</a></li>
					<li><a href="{{ url_for('portfolio') }}">portfolio</a></li>
					<li><a href="https://twitter.com/naturaln0va">twitter</a></li>
					{% if auth %}
						<li><a href="{{ url_for('new_post') }}">new post</a></li>
						<li><a href="{{ url_for('drafts') }}">drafts</a></li>
						<li><a href="{{ url_for('cms') }}">media</a></li>
						<li><a href="{{ url_for('logout') }}">logout</a></li>
					{% endif %}
				</ul>
			</div>
		{% endblock %}
		{% block content %}{% endblock %}
		{% block scripts %}{% endblock %}
	</body>
</html>