<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="msapplication-config" content="/static/favicon/browserconfig.xml">
		<meta name="theme-color" content="#e51415">

		<link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" href="/static/favicon/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="/static/favicon/favicon-16x16.png" sizes="16x16">
		<link rel="manifest" href="/static/favicon/manifest.json">
		<link rel="mask-icon" href="/static/favicon/safari-pinned-tab.svg" color="#e51415">
		<link rel="shortcut icon" href="/static/favicon/favicon.ico">
		<link rel="stylesheet" type="text/css" href="/static/stylesheets/primary.css">

		{% block stylesheet %}{% endblock %}
	  {% if title %}
    	<title>{{ title }}</title>
    {% else %}
    	<title>Ryan Ackermann</title>
    {% endif %}
		<script type="text/javascript">
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-75313009-1', 'auto');
			ga('send', 'pageview');
		</script>
	</head>
	<body>
		<div class="topstrip"></div>
		{% block menu %}
			<header>
				{% if current == 'index' %}
					<b><h1>ryanackermann</h1></b>
				{% else %}
					<a href="{{ url_for('index') }}"><h1>ryanackermann</h1></a>
				{% endif %}
				{% if shape_num %}
					<img id="shape" src="/static/shapes/{{ shape_num }}-geo-shape.svg">
				{% endif %}
			</header>
			<div class="navigation">
				<ul>
					{% if current == 'index' %}
						<li><b>home</b></li>
					{% else %}
						<li><a href="{{ url_for('index') }}">home</a></li>
					{% endif %}

					{% if current == 'categories' %}
						<li><b>articles</b></li>
					{% else %}
						<li><a href="{{ url_for('categories') }}">articles</a></li>
					{% endif %}

					{% if current == 'portfolio' %}
						<li><b>portfolio</b></li>
					{% else %}
						<li><a href="{{ url_for('portfolio') }}">portfolio</a></li>
					{% endif %}

					{% if current == 'photos' %}
						<li><b>photos</b></li>
					{% else %}
						<li><a href="{{ url_for('photos') }}">photos</a></li>
					{% endif %}

					{% if current == 'about' %}
						<li><b>about</b></li>
					{% else %}
						<li><a href="{{ url_for('about') }}">about</a></li>
					{% endif %}

					{% if auth %}
						{% if current == 'new_post' %}
							<li><b>new post</b></li>
						{% else %}
							<li><a href="{{ url_for('new_post') }}">new post</a></li>
						{% endif %}

						{% if current == 'drafts' %}
							<li><b>drafts</b></li>
						{% else %}
							<li><a href="{{ url_for('drafts') }}">drafts</a></li>
						{% endif %}

						{% if current == 'cms' %}
							<li><b>media</b></li>
						{% else %}
							<li><a href="{{ url_for('cms') }}">media</a></li>
						{% endif %}

						<li><a href="{{ url_for('logout') }}">logout</a></li>
					{% endif %}
				</ul>
			</div>
		{% endblock %}
		{% block content %}{% endblock %}
		{% block scripts %}{% endblock %}
	</body>
</html>
