
{% extends "base.html" %}

{% block stylesheet %}
	<link rel="stylesheet" type="text/css" href="/static/stylesheets/categories.css">
{% endblock%}

{% block content %}
	<article>
		<input id="search" type="search" name="search" placeholder="search for something">
		<ul>
			{% for dict in dicts %}
				<li><h3>{{ dict['name'] }}</h3></li>
				<ul>
					{% for post in dict['posts'] %}
						<li class="items"><span id="date">{{ post.timestamp|prettytime }}:</span> <a href="/posts/{{ post.slug }}">{{ post.title }}</a></li>
					{% endfor %}
				</ul>
			{% endfor %}
		</ul>
	</article>
{% endblock %}
