
{% extends "base.html" %}

{% block stylesheet %}<link rel="stylesheet" type="text/css" href="/static/stylesheets/cms.css">{% endblock %}

{% block content %}
	<div id="wrapper">
		<h1>Media Manager</h1>
		<form method="POST" enctype="multipart/form-data">
			<p>Upload a new asset: <input type="file" name="file[]" webkitdirectory directory multiple></p>
			<p><input type="submit" value="Upload"></p>
		</form>
		<ul>
			{% for item in items %}
			    <li class="file">
			    	<a href="/static/assets/{{ item['name'] }}">{{ item['name'] }}</a> - {{ item['size']|filesizeformat(item['size']) }}
			    	<input type="submit" name="{{ item['name'] }}" value="Delete" onclick="buttonClicked(this)">
			    	<input type="submit" name="{{ item['name'] }}" value="Copy" onclick="buttonClicked(this)">
			    </li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}

{% block scripts %}
	<script type="text/javascript">
		function buttonClicked(elem) {
			if (elem.value == 'Delete') {
				var result = confirm("Are you sure you want to delete '" + elem.name + "'?");
				if (result == true) {
					window.location.href = '/cms/rm/' + elem.name;
				}
			}
			else if (elem.value == 'Copy') {
				window.prompt("Copy to clipboard: ⌘+C, Return", "/static/assets/" + elem.name);
			}
		}
	</script>
{% endblock %}
