
{% extends "base.html" %}

{% block stylesheet %}<link rel="stylesheet" type="text/css" href="/static/stylesheets/drafts.css">{% endblock %}

{% block content %}
	<article>
		<h1>Drafts</h1>
		{% if drafts|length == 0 %}
			<h3>No drafts.</h3>
		{% endif %}
		{% for draft in drafts %}
			<li class="item">
				<a href="/drafts/{{ draft.slug }}">{{ draft.title }}</a>
				<input type="submit" name="{{ draft.title }},{{ draft.id }}" value="Delete" onclick="buttonClicked(this)">
				<input type="submit" name="{{ draft.title }},{{ draft.id }}" value="Edit" onclick="buttonClicked(this)">
				<input type="submit" name="{{ draft.title }},{{ draft.id }}" value="Publish" onclick="buttonClicked(this)">
			</li>
		{% endfor %}
	</article>
{% endblock %}

{% block scripts %}
	<script type="text/javascript">
		function buttonClicked(elem) {
			var comps = elem.name.split(',');
			var name = comps[0];
			var id = comps[1];

			if (elem.value == 'Delete') {
				var result = confirm("Are you sure you want to delete '" + name + "'?");
				if (result == true) {
					window.location.href = '/drafts/rm/' + id;
				}
			}
			else if (elem.value == 'Edit') {
				window.location.href = '/drafts/edit/' + id;
			}
			else {
				var result = confirm("Are you sure you want to publish '" + name + "'?");
				if (result == true) {
					window.location.href = '/drafts/publish/' + id;
				}
			}
		}
	</script>
{% endblock %}
