
{% extends "base.html" %}

{% block stylesheet %}
	<link rel="stylesheet" type="text/css" href="/static/stylesheets/links.css">
{% endblock%}

{% block content %}
	<article>
		<h1>Links</h1>
		<ul class="list">
			<a href="https://github.com/naturaln0va"><li>Code on <strong>GitHub</strong></li></a>
			<a href="https://twitter.com/naturaln0va"><li>Thoughts on <strong>Twitter</strong></li></a>
			<a href="https://dribbble.com/naturaln0va"><li>Scribbles on <strong>Dribbble</strong></li></a>
			<a href="https://www.instagram.com/naturaln0va/"><li>Pictures on <strong>Instagram</strong></li></a>
			<a href="http://stackoverflow.com/users/5322726/naturaln0va"><li>Answers on <strong>StackOverflow</strong></li></a>
			<a href="https://www.raywenderlich.com/u/naturaln0va?section=posts"><li>Writing on <strong>RayWenderlich</strong></li></a>
		</ul>
	</article>
{% endblock %}