{% extends "base.html" %}

{% block stylesheet %}
	{{ pagedown.include_pagedown() }}
	<link rel="stylesheet" type="text/css" href="/static/stylesheets/new_post.css">
{% endblock%}

{% block content %}
	<article>
		<h1>New Post</h1>
		<form method="POST" name="post">
			{{ form.hidden_tag() }}
			<p>
				Title:<br>{{ form.title }}<br>
				Description:<br>{{ form.description }}<br>
				Category:<br>{{ form.category }}
				Date:<br>{{ form.date }}
				{% if form.slug.data %}
					Slug:<br>{{ form.slug }}
				{% endif %}
			</p>
			<p>Content:{{ form.content }}</p>
			<p>{{ form.draft }} Draft?</p>
			<p>{{ form.save }}</p>
		</form>
	</article>
{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="/static/scripts/keymaster.js"></script>
	<script async type="text/javascript" src="/static/scripts/addoredit-post.js"></script>
{% endblock %}