
{% extends "base.html" %}

{% block stylesheet %}
  <link rel="stylesheet" type="text/css" href="/static/stylesheets/photos.css">
{% endblock %}

{% block content %}
  <article>
    <h1>Photos</h1>
    <ul id="img-container"></ul>
  </article>
{% endblock %}

{% block scripts %}
		<script type="text/javascript">
			var photos = {{ photos|safe }};
			for (var i = 0; i < photos.length; i++) {
				var photo = photos[i];
				var imgListItem = document.createElement("li");
				var imgLinkElem = document.createElement("a");
				var imgElem = document.createElement("img");

				imgElem.className = "recent-photo";
				imgElem.src = "/static/photos/" + photo;
				imgLinkElem.href = "/static/photos/" + photo.replace("small-", "");

				imgLinkElem.appendChild(imgElem);
				imgListItem.appendChild(imgLinkElem);
				document.getElementById("img-container").appendChild(imgListItem);
			}
		</script>
{% endblock %}
