
{% extends "base.html" %}

{% block stylesheet %}
	<link rel="stylesheet" type="text/css" href="/static/stylesheets/portfolio.css">
{% endblock%}

{% block content %}
	<article>
		<h1>Stuff I've done.</h1>
		<p>These are the noteworthy things I've either created or been apart of.</p>
		<div class="content-item">
			<a href="https://www.bible.com/app"><img src="/static/assets/bible.png"></a>
			<h2>Bible</h2>
			<p>On more than 245 million devices around the world, people are reading, listening to, watching, and sharing the Bible using the #1 rated Bible App—completely free. Over 1,000 Bible versions, in hundreds of languages.</p>
		</div>
		<div class="content-item">
			<a href="https://www.raywenderlich.com/138712/make-game-like-can-knockdown"><img src="/static/assets/can-knockdown.png"></a>
			<h2>How to Make a Game Like Can Knockdown</h2>
			<p>A raywenderlich.com tutorial explaining how to re-create <em>Can Knockdown</em> in SceneKit.</p>
		</div>
		<div class="content-item">
			<a href="/quakes"><img src="/static/assets/quakes.png"></a>
			<h2>Quakes - Earthquake Utility</h2>
			<p>Quakes is an elegant earthquake utility. A simple easy to use interface will help you stay updated with the latest earthquake activity.</p>
		</div>
		<div class="content-item">
			<a href="https://itunes.apple.com/us/app/doodler-simple-drawing/id948139703?ls=1&mt=8"><img src="/static/assets/doodler.png"></a>
			<h2>Doodler - Sticker Drawing</h2>
			<p>Doodler is a simple way to bring your imaginations to life. Quickly sketch out ideas, or spend the time to carefully create a masterpiece. Your drawings can be shared and saved to show the world.</p>
		</div>
		<div class="content-item">
			<a href="https://itunes.apple.com/us/app/whereabouts-location-utility/id931591968?mt=8"><img src="/static/assets/whereabouts.png"></a>
			<h2>Whereabouts - Location Utility</h2>
			<p>Whereabouts is an easy way to keep track of the places you visit. Whereabouts can utilize your phone's GPS to provide a information based upon your surroundings.</p>
		</div>
		<div class="content-item">
			<a href="https://itunes.apple.com/us/app/pong-made-for-treehouse-contest/id919307928?mt=8"><img src="/static/assets/pong.png"></a>
			<h2>pong - Made for a Treehouse Contest</h2>
			<p>Experience Pong at it's finest! Download this tribute to the old hit arcade game that revolutionized the gaming industry. Compete with the world over GameCenter for glory and fame!</p>
		</div>
		<div class="content-item">
			<a href="https://itunes.apple.com/us/app/wiggly-piggly/id840326296?mt=8"><img src="/static/assets/wiggly.png"></a>
			<h2>Wiggly Piggly</h2>
			<p>Ever heard of the saying "When pigs fly". Well now its up to you to see how far you can get. Avoid the massive slices of bacon by tapping your finger against your screen. Remember to have fun!</p>
		</div>
	</article>
{% endblock %}