
{% extends "base.html" %}

{% block stylesheet %}
	<link rel="stylesheet" type="text/css" href="/static/stylesheets/portfolio.css">
{% endblock%}

{% block content %}
	<article>
		<h1>Stuff I've done.</h1>
		<p>These are the noteworthy things I've either created or been apart of.</p>
		<h1>Apps</h1>
		<div class="content-item">
			<a href="https://www.bible.com/app">
				<img class="round" src="/static/assets/bible-icon.png">
				<h2>Bible</h2>
				<p>On more than 245 million devices around the world, people are reading, listening to, watching, and sharing the Bible using the #1 rated Bible App—completely free. Over 1,000 Bible versions, in hundreds of languages.</p>
			</a>
		</div>
		<div class="content-item">
			<a href="/quakes">
				<img class="round" src="/static/assets/quakes-icon.png">
				<h2>Quakes - Earthquake Utility</h2>
				<p>Quakes is an elegant earthquake utility. A simple easy to use interface will help you stay updated with the latest earthquake activity.</p>
			</a>
		</div>
		<div class="content-item">
			<a href="https://itunes.apple.com/us/app/doodler-simple-drawing/id948139703?ls=1&mt=8">
				<img class="round" src="/static/assets/doodler-icon.png">
				<h2>Doodler - Sticker Drawing</h2>
				<p>Doodler is a simple way to bring your imaginations to life. Quickly sketch out ideas, or spend the time to carefully create a masterpiece. Your drawings can be shared and saved to show the world.</p>
			</a>
		</div>
		<div class="content-item">
			<a href="https://itunes.apple.com/us/app/whereabouts-location-utility/id931591968?mt=8">
				<img class="round" src="/static/assets/whereabouts-icon.png">
				<h2>Whereabouts - Location Utility</h2>
				<p>Whereabouts is an easy way to keep track of the places you visit. Whereabouts can utilize your phone's GPS to provide a information based upon your surroundings.</p>
			</a>
		</div>
		<div class="content-item">
			<a href="https://itunes.apple.com/us/app/pong-made-for-treehouse-contest/id919307928?mt=8">
				<img class="round" src="/static/assets/pong-icon.png">
				<h2>pong - Made for a Treehouse Contest</h2>
				<p>Experience Pong at it's finest! Download this tribute to the old hit arcade game that revolutionized the gaming industry. Compete with the world over GameCenter for glory and fame!</p>
			</a>
		</div>
		<div class="content-item">
			<a href="https://itunes.apple.com/us/app/wiggly-piggly/id840326296?mt=8">
				<img class="round" src="/static/assets/wiggly-icon.png">
				<h2>Wiggly Piggly</h2>
				<p>Ever heard of the saying "When pigs fly". Well now its up to you to see how far you can get. Avoid the massive slices of bacon by tapping your finger against your screen. Remember to have fun!</p>
			</a>
		</div>
		<h1>Writing</h1>
		<div class="content-item">
			<a href="https://www.raywenderlich.com/155780/gameplaykit-tutorial-entity-component-system-agents-goals-behaviors-2">
				<img src="/static/assets/entity-gameplaykit.png">
				<h2>GameplayKit Tutorial: Entity-Component System, Agents, Goals, and Behaviors</h2>
				<p>A raywenderlich.com tutorial explaining how to implement Entity-Component systems, and Agents, Goals, and Behaviors using GameplayKit.</p>
			</a>
		</div>
		<div class="content-item">
			<a href="https://www.raywenderlich.com/146407/gameplaykit-tutorial-artificial-intelligence">
				<img src="/static/assets/aigameplaykit-tut.png">
				<h2>GameplayKit Tutorial: Artificial Intelligence</h2>
				<p>A raywenderlich.com tutorial explaining how to implement artificial intelligence using GameplayKit.</p>
			</a>
		</div>
		<div class="content-item">
			<a href="https://www.raywenderlich.com/138712/make-game-like-can-knockdown">
				<img src="/static/assets/can-knockdown.png">
				<h2>How to Make a Game Like Can Knockdown</h2>
				<p>A raywenderlich.com tutorial explaining how to re-create <em>Can Knockdown</em> in SceneKit.</p>
			</a>
		</div>
		<div class="content-item">
			<a href="https://www.raywenderlich.com/124005/make-game-like-space-invaders-sprite-kit-swift-tutorial-part-1">
				<img src="/static/assets/invaders-tut.png">
				<h2>How To Make a Game Like Space Invaders with Sprite Kit and Swift Tutorial</h2>
				<p>A raywenderlich.com tutorial explaining how to re-create <em>Space Invaders</em> in SpriteKit.</p>
			</a>
		</div>
		<h1>Talks</h1>
		<div class="content-item">
			<a href="/posts/rwdevcon-2017">
				<img src="/static/assets/rw-devcon-logo.jpg">
				<h2>RWDevCon 2017</h2>
				<p>My first public talk that I gave at RWDevCon about iMessages apps. Read about my experience...</p>
			</a>
		</div>
		<h1>Open Source</h1>
		<div class="content-item">
			<a href="https://github.com/naturaln0va/RAScrollablePickerView">
				<img src="/static/assets/scrollable-picker-view.png">
				<h2>RAScrollablePickerView</h2>
				<p>Lightweight HSB color picker view in Swift.</p>
			</a>
		</div>
	</article>
{% endblock %}
