
{% extends "base.html" %}

{% block content %}

	<article>
		<h1>Privacy</h1>
		<p>Any and all data collected through the use of my apps is used to only <span style="color: #D52A1E;font-weight: bold;">improve &amp; support</span> the functionality and experice for you the user. If data is collected it will be used to further the usability and functionality to provide the best experience. Data that is collected will <span style="color: #D52A1E;font-weight: bold;">never</span> be sold to a third party.</p>
		<p>No ad companies will ever be aloud to collect the any collected information. Collected information that is private (such as name, email, location) is only used to create a great experience for you the user.</p>
		<p>Whenever data is collected you will have the ability to turn it off via a setting in the app. By default data will be collected. If you feel your privacy is being violated or your information is being misused please contact me.</p>
		<p>Twitter: <a href="https://twitter.com/naturaln0va">@naturaln0va</a><br>
		Email: <a href="mailto:support@ackermann.io">support@ackermann.io</a></p>
	</article>

{% endblock %}