
{% extends "base.html" %}

{% block stylesheet %}
	<link rel="stylesheet" type="text/css" href="/static/stylesheets/post.css">
	<link rel="stylesheet" type="text/css" href="/static/stylesheets/github.css">
	<script src="/static/scripts/highlight.pack.js" type="text/javascript" charset="utf-8"></script>
	<script>hljs.initHighlightingOnLoad();</script>
{% endblock %}

{% block content %}
	<article style="{% if post.draft %}background-color: #f8f8f8;{% endif %}">
		{% if auth and not post.draft %}
			<input type="submit" name="{{ post.id }}" value="Edit Post" onclick="buttonClicked(this)">
		{% endif %}
		{% if post.draft %}
			<div style="text-align: center;margin: 0 auto;font-weight: bold;">Draft</div>
		{% endif %}
		<h1 id="title">{{ post.title }}</h1>
		<p id="timestamp">{{ post.timestamp|prettytime }}</p>
		<p><em>{{ post.description }}</em></p>
		<div id="catDur">
			<span id="category">{{ post.category.name }}</span>
			{% if dur %}
				<span id="duration">{{ dur }} minutes</span>
			{% endif %}
		</div>
		<p>{{ post.content|markdown }}</p>
		{% if not post.draft %}
			<div id="share-button">
				<a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-via="naturaln0va" data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>
		{% endif %}
		<footer>&copy; 2016 Ryan Ackermann</footer>
	</article>
{% endblock %}

{% block scripts %}
	<script type="text/javascript">
		function buttonClicked(elem) {
			window.location.href = '/drafts/edit/' + elem.name;
		}

		let url = window.location.href + '/analytics';

		var counter = 0;
		var interval = setInterval(tick, 1000);

		function tick() {
			counter++;

			if (counter == 30) {
				clearInterval(interval);

				xhr = new XMLHttpRequest();
				xhr.open("POST", url, true);
				xhr.setRequestHeader("Content-type", "application/json");
				var path = window.location.href.toString().split(window.location.host)[1].split("/").filter(String).join(".");
				var data = JSON.stringify({"service":"ackermannio","path":path + ".sessions"});
				xhr.send(data);
			}
		}
	</script>
{% endblock %}